<html lang="en">
<head>
    <%- include partials/Meta.ejs %>
      <%- include partials/LinkResources.ejs %>
    <title>All tickets</title>
</head>
<body>
    <%- include partials/NavLoggedIn.ejs %>
    <main>
      <div class="container">
        <h1>See Resolved Incidents</h1>
          <p class="separator">Incidents resolved earlier</p>
          <% if(tickets == '') { %>
            <h3>No incidents resolved yet</h3>
          <% } else { %>
            <% for(var i = 0; i < tickets.length; ++i ) {%>
            <div class="ticket">
              <details>
                <summary>
                  <span class="ticket-title">
                    <%=tickets[i].title%>
                  </span>
                </summary>
                <span class="ticket-description">
                  <%=tickets[i].description%>
                </span>
              </details>
              <span class="ticket-date">
                <%=tickets[i].date%>
              </span>
              <span class="ticket-time">
                <%=tickets[i].time%>
              </span>
              <span class="ticket-priority">
                <%=tickets[i].priority%>
              </span>
              <span class="ticket-status">
                <%=tickets[i].status%>
              </span>
            </div>
            <hr/>
            <% } %>
          <% } %>
      </div>
    </main>
    <%- include partials/Footer.ejs %>
</body>
</html>