<html lang="en">
<head>
    <%- include partials/Meta.ejs %>
    <%- include partials/LinkResources.ejs %>
    <title>Review tickets</title>
</head>
<body>
    <%- include partials/NavLoggedIn.ejs %>
    <main>
        <div class="container">
          <h1>See the tickets and active issues</h1>
            <p class="separator">Work on the issues on the way to fix</p>
            <% if(tickets == '') { %>
              <h3>No incidents available</h3>
            <% } else { %>
              <div class="legends">
                <div class="legend Low">
                </div>
                <div class="legend Normal">
                </div>
                <div class="legend Important">
                </div>
                <div class="legend Critical">
                </div>
                <div class="legend Extreme">
                </div> 
                <input list="clients" name="client" class="client-filter" placeholder="Client">
                <datalist id="clients">
                  <% for(var i = 0; i < ulist.length; ++i) { %>
                  	<option value="<%=ulist[i].name%>"></option>
									<% } %>
                </datalist>
              </div>
              <% for(var i = 0; i < tickets.length; ++i ) {%>
                <form action="/ticket?tid=<%=tickets[i].ticketid%>" method="POST">
                <div class="ticket <%=tickets[i].priority%>">
                <span class="ticket-title"><%=tickets[i].title%>
                </span>
                <span class="ticket-date">
                  <%=tickets[i].date%>
                </span>
                <span class="ticket-time">
                  <%=tickets[i].time%>
                </span>
                <span class="ticket-priority">
                  <%=tickets[i].priority%>
                </span>
                <span class="ticket-status">
                  <%=tickets[i].status%>
                </span>
                <input type="submit" class="right ticket-action-button" value="View Ticket">
              </div>
              </form>

              <% } %>
            <% } %>
        </div>
    </main>
    <%- include partials/Footer.ejs %>
</body>
</html>
