<html lang="en">
<head>
    <%- include partials/Meta.ejs %>
    <%- include partials/LinkResources.ejs %>
    <title>Previous tickets</title>
</head>
<body>
    <%- include partials/NavLoggedIn.ejs %>
    <main>
        <div class="container">
       <h1>Previous Incidents</h1>
        <p class="separator">View statuses of previously reported incidents.</p>
        <% if(tickets == '') { %>
          <h3>You have not reported any incidents yet.</h3>
        <% } else { %>
          <% for(var i = 0; i < tickets.length; ++i ) {%>
          <div class="ticket <%=tickets[i].priority%>">
            <details>
              <summary>
                <span class="ticket-title">
                  <%=tickets[i].title%>
                </span>
              </summary>
              <span class="ticket-description">
                <%=tickets[i].description%>
              </span>
            </details>
            <span class="ticket-date">
              <%=tickets[i].date%>
            </span>
            <span class="ticket-time">
              <%=tickets[i].time%>
            </span>
            <span class="ticket-priority">
              <%=tickets[i].priority%>
            </span>
            <span class="ticket-status">
              <%=tickets[i].status%>
            </span>
          </div>
          <% } %>
        <% } %>
        </div>
    </main>
    <%- include partials/Footer.ejs %>
</body>
</html>